@model appbeneficiencia.Models.Colaboradore
@{
    ViewData["Title"] = "Create";
}

<h1>Crear nuevo Colaborador</h1>

<h4>Colaboradores</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label">Nombre Completo</label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profesion" class="control-label">Profesión</label>
                <input asp-for="Profesion" class="form-control" />
                <span asp-validation-for="Profesion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dpi" class="control-label">No. DPI</label>
                <input asp-for="Dpi" class="form-control inputmask" data-inputmask="'mask': '9999-99999-9999'"/>
                <span asp-validation-for="Dpi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label">Correo Electrónico</label>
                <input asp-for="Correo" class="form-control" type="email" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label">Dirección</label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Telefono" class="control-label">Teléfono</label>
                <input asp-for="Telefono" class="form-control inputmask" data-inputmask="'mask': '9999-9999'" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
                <input asp-for="FechaNacimiento" class="form-control" type="date" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label">Género</label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPuesto" class="control-label">Puesto</label>
                <select asp-for="IdPuesto" class="form-control" asp-items="ViewBag.IdPuesto">
                    <option value="">Seleccionar</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <div class="form-group mt-3">
                    <!-- Añadir margen superior para separar los botones de los campos -->
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <a asp-action="Index" class="btn btn-secondary ml-2">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.inputmask').inputmask();
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}











