<!--Vista Home-->
 ﻿@{
    ViewData["Title"] = "";
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="container">
            <div class="text-center mt-5">
                <div class="container">
                    <img src="~/theme/dist/img/logoYeshua.jpeg" alt="Imagen de perfil" class="img-fluid" style="max-width: 40%; height: auto;" />
                </div>
                <a href="https://www.facebook.com/509ce" target="_blank">CDI Yeshua Cobán</a>
            </div>
            <hr />
            <!--
            <div style="text-align: center; font-family: 'Lucida Calligraphy', cursive; color: blueviolet">
                <br />
                <h2>Liberando a los niños de la pobreza </h2>
            </div>
            <div style="text-align: center; font-family: 'Lucida Calligraphy', cursive; color: yellowgreen">
                <h2>en el nombre de Jesús </h2>
            </div>
            <br />
            <style>
                .text-center p {
                    font-family: 'Century Gothic'; /* Tipo de letra */
                    font-size: 18px; /* Tamaño de fuente */
                    color: #333; /* Color del texto */
                    font-weight: normal; /* Peso de la fuente (normal, bold, etc.) */
                    line-height: 1.6; /* Altura de línea */
                }
            </style>


                <div class="container">
                <ul class="list-unstyled">
                    <asp:Repeater ID="rptObjetivos" runat="server">
                        <ItemTemplate>
                            <li>
                                <div class="text-center">
                                    <p>Compassion Internacional es una organización cristiana-evangélica que busca dar respuesta a las necesidades de niños y jóvenes que viven en condición de pobreza.</p>
                                </div>
                            </li>
                        </ItemTemplate>
                    </asp:Repeater>
                </ul>
            </div>

            -->

            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body d-flex align-items-start justify-content-start">
                                <img class="card-img-top img-thumbnail" src="~/theme/dist/img/aposentoAlto1.png" style="width: 80px; height: auto;" alt="Card image cap">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-3">Misión</h5>
                                <p class="card-text">
                                    Como Centro de Desarrollo Integral nuestra Misión es: Una Educación Integral incluyendo
                                    aspectos, Físicos, Espirituales, Socio-Emocionales y Cognitivos, según los valores y el Espíritu del Evangelio.
                                    Proporcionar a los niños/Jóvenes de ambos sexos, una enseñanza plena y de calidad, que les permita alcanzar su propia y esencial
                                    identidad, actitudes positivas y conocimientos, capaces de desarrollar destrezas y habilidades para la creación de nuevas competencias
                                    que les permitan acceder a la Educación Superior o al campo ocupacional, que además favorezcan en el cambio y transformación
                                    de la sociedad actual. Todo ello dentro de un ambiente sano en colaboración con sus familias.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body d-flex align-items-start justify-content-start">
                                <img class="card-img-top img-thumbnail" src="~/theme/dist/img/aposentoAlto1.png" style="width: 80px; height: auto;" alt="Card image cap">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-3">Visión</h5>
                                <p class="card-text">
                                    Ser un CDI reconocido por la calidad humana, por su dedicación en la búsqueda constante de la excelencia y empeño de todo su personal,
                                    para que los Beneficiarios alcancen sus sueños individuales, profesionales exitosos, ciudadanos respetables y dignos ejemplos en la
                                    sociedad.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>
</body>
</html>